* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Suppression de la supperposition du footer */
body {
    margin-bottom: 100px;
}

header h1{
    line-height: 100px;
    letter-spacing: -2px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

a:hover,
a:active,
a:visited {
    color: #ffc846;
    color: -webkit-link #ffc846;
}

header, footer {
    display: block;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #ffc846;
    background-color: #5aa58c;
}

#aside-top {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 1em;
}

/* La note enchantée */
.container, .menu-name {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}

.title-card-a, .name-part-a, .price {
    color: #460000;
}

.title-card-a {
    font-size: 40px;
}
.title-card-b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    background-color: linear-gradient(45deg, #ffc846, #5aa58c);
}

.title-card-c {

}
.title-card-d {

}

.container{
    position: relative;
    padding: 1em;
    width: 80%;
    height: auto;
    border: solid 1px blue;
}

.first-section, .second-section, .third-section {
    width: 90%;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    border: solid 1px green;
}

.name-part-b {
    width: 100%;
    font-size: 1.2em;
}


.menu-name {
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    text-align: center;
}

.text-deviser-b {
    width: 50%;
    height: 10px;
    background-color: rgb(70, 0, 0);
}

.recipes-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    ".text-deviser .name-part-1 .name-part-1 .text-deviser"
    "recipe recipe recipe price"
    "recipe recipe recipe price"
    "recipe recipe recipe price"
    "recipe recipe recipe price";
    width: 100%;
    margin-bottom: 5em;
    line-height: 2em;
    border: solid 2 px royalblue;
}

.recipe {
    text-align: left;
}

.price {
    text-align: right;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0px;
    justify-content: space-between;
    padding: 1em;
    line-height: 2em;
}

.hover-shake:hover {
    animation: shake 150ms;
    animation-iteration-count: 2;
}

@keyframes shake {
    from {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    to {
      transform: rotate(0deg);
    }
}

.btn_footer {
    color: #ffc846;
    border-bottom: solid 1px transparent;
}

.btn_footer:hover {
    border-bottom: solid 1px #ffc846;
}

@media screen and (max-width: 400px) {
    .recipes-list {
        flex-direction: column;
        flex-wrap: wrap-reverse;
        justify-items: self-end;
        font-size: 0.5em;
    }

    .name-part-a {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 600px) {
    .recipes-list {
        flex-direction: column;
        flex-wrap: wrap-reverse;
        justify-items: self-end;
        font-size: 0.7em;
    }

    .name-part-a {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 750px) {
    .recipes-list {
        flex-direction: column;
        flex-wrap: wrap-reverse;
        justify-items: self-end;
        font-size: 0.8em;
    }

    .name-part-a {
        font-size: 1em;
    }
}