* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Suppression de la supperposition du footer */
body {
    margin-bottom: 100px;
}

header h1{
    line-height: 100px;
    letter-spacing: -2px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

a:hover,
a:active,
a:visited {
    color: #ffc846;
    color: -webkit-link #ffc846;
}

header, footer {
    display: block;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #ffc846;
    background-color: #5aa58c;
}

#aside-top {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;
    margin: 3vh;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 75vh;
    height: 120vh;
    margin: auto;
    padding: 7vh;
    font-size: 1vh;
    text-align: center;
    border: solid 1px blue;
    background-color: #fadcdc
}

.fas {
    font-size: 7vh;
    color: #f05a64;
    display: block;
    background: -webkit-linear-gradient(45deg,#f05a64, #fa8c6e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title-card-a {
    font-family: 'Devonshire', cursive;
    font-size: 4vh;
    text-align: center;
    color: #460000;
}

.end-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Devonshire', cursive;
    font-size: 3.5vh;
    text-align: center;
    color: #460000;
}

.end-container .fas {
    font-size: 4vh;
}

#title-card-b {
    font-size: 5vh;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(45deg,#c88232, #8c5aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title-card-c {
    font-size: 5vh;
    background: -webkit-linear-gradient(45deg,#c88232, #8c5aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title-card-d {
    font-size: 5vh;
    background: -webkit-linear-gradient(45deg,#c88232, #8c5aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name-section-a {
    font-family: 'Kalam', cursive;
    font-size: 2.5vh;
}
.name-section-b {
    font-family: 'Redressed', cursive;
    font-size: 2.5vh;
}
.name-section-c {
    font-family: 'Kalam', cursive;
    font-size: 2.5vh;
}
.name-section-d {
    font-family: 'Kalam', cursive;
    font-size: 2.5vh;
}


.title-card-c {

}
.title-card-d {

}


.first-section, .second-section, .third-section {
    font-family: 'Kalam', sans-serif;
}

.name-part-b {
    width: 100vh;
    font-size: 1.2em;
}

.menu-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
    text-align: center;
}

.text-deviser-a {
    width: 17vh;
    height: 0.5vh;
    background-color: rgb(70, 0, 0);
}

.text-deviser-b {
    width: 17vh;
    height: 1vh;
}

.text-deviser-c {
    width: 17vh;
    height: 1vh;
}

.text-deviser-d {
    width: 17vh;
    height: 1vh;
}

.recipes-list {
    display: grid;
    margin-top: 1vh;
    margin-bottom: 2vh;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 3vh;
    line-height: 4vh;
}

.recipe {
    text-align: left;
    font-size: 2vh;
}

.price {
    font-weight: bold;
    font-size: 2vh;
    text-align: right;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0px;
    justify-content: space-between;
    padding: 1em;
    line-height: 2em;
}

.hover-shake:hover {
    animation: shake 150ms;
    animation-iteration-count: 2;
}

@keyframes shake {
    from {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    to {
      transform: rotate(0deg);
    }
}

.btn_footer {
    color: #ffc846;
    border-bottom: solid 1px transparent;
}

.btn_footer:hover {
    border-bottom: solid 1px #ffc846;
}

@media screen and (max-width: 400px) {
    .recipes-list {
        flex-direction: column;
        flex-wrap: wrap-reverse;
        justify-items: self-end;
        font-size: 0.5em;
    }

    
}

@media screen and (max-width: 600px) {
    .recipes-list {
        flex-direction: column;
        flex-wrap: wrap-reverse;
        justify-items: self-end;
        font-size: 0.7em;
    }

   
}

@media screen and (max-width: 750px) {
    .recipes-list {
        flex-direction: column;
        flex-wrap: wrap-reverse;
        justify-items: self-end;
        font-size: 0.8em;
    }

    
}