* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header h1{
    line-height: 100px;
    letter-spacing: -2px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

header, footer {
    display: block;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #ffc846;
    background-color: #5aa58c;
}

#name-top {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 1em;
}

/* La note enchantée */
#name-menu-card-1 {
    text-align: center;
    font-size: 1.5em;
    background-color: #;
}

.menu-section-1 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    border: solid 1px green;
}

.name-part-1 {
    width: 450px;
    font-size: 50px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 1200px;
    height: 1650px;
    border: solid 1px blue;
}

.menu-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    text-align: center;
}

.text-deviser {
    width: 300px;
    height: 20px;
    background-color: red;
}

.recipes-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.recipe {
    text-align: left;
    margin-right: auto;
}

.price {
    text-align: right;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    padding: 1em;
    line-height: 2em;
}

a {
    color: #ffc846;
    text-decoration: none;
}