* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1{
    line-height: 100px;
    letter-spacing: -2px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

header, footer {
    display: block;
    width: 100%;
    margin-bottom: 2em;
    font-family: "Montserrat", sans-serif;
    color: #ffc846;
    background-color: #5aa58c;
}

.menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.menu-1, .menu-2, .menu-3, .menu-4 {
    width: 500px;
    height: 700px;
    margin: 1em auto 0 auto;
    border: solid 1px teal;
}

.menus {
    margin: 1em !important;
    cursor: pointer;
    transition: 0.5s;
}

.menus.menu-1 img:hover {
    box-shadow: 0 0 2em rgba(150,150,150,0.5);
    z-index: 1;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05)
}


aside {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 40px;
}

.btn_coming_soon {
    margin-bottom: 5em;
    padding: 5px !important;
    width: 9em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 10px;
    color: #ffc846;
    background-color: #5aa58c;
}

.btn_coming_soon:hover {
    box-shadow: 0 0 1em rgba(150,150,150,1);
    cursor: pointer;
}

#coming_soon_animation {
    content: attr(data-text);
    overflow: hidden;
    max-width: 9em;
    white-space: nowrap;
    animation: loading 3s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}

footer {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    line-height: 70px;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
}