* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Suppression de la supperposition du footer */
body {
    margin-bottom: 100px;
}

header h1{
    display: block;
    line-height: 100px;
    letter-spacing: -2px;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1vh;
}

a:hover, a:active, a:visited, a:focus, a:link {
    color: #ffc846 !important;
    color: -webkit-link #ffc846;
}

header, footer {
    width: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #ffc846;
    background-color: #5aa58c;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 3vh;
    transition: 2s;
}


.flyleaf {
    display: flex;
    justify-content: center;
    width: 50vh;
    height: 70vh;
    margin: auto;
    align-items: center;
    text-align: center;
    border: solid 1px rgba(150,150,150,0.5);
    cursor: pointer;
}

.flyleaf:hover {
    box-shadow: 5px 5px 15px rgba(150,150,150,0.5);
}

.fas {
    font-size: 7vh;
    color: #f05a64;
    display: block;
    background: -webkit-linear-gradient(#f05a64, #fa8c6e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-a {
    font-family: 'Devonshire', cursive;
    font-size: 5vh;
    color: #480000;
    background-color: #fadcdc;
}

.menu-b {
    font-family: 'Redressed', cursive;
    font-size: 5vh;
    background: -webkit-linear-gradient(45deg,#c88232, #8c5aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-c {
    font-family: 'Rouge Script', cursive;
    font-size: 5vh;
    background: -webkit-linear-gradient(45deg,#0032e1, #0087fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-d {
    font-family: 'Caveat', cursive;
    font-size: 5vh;
    background: -webkit-linear-gradient(45deg,#329632, #c8ff78);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-name {
    font-family: 'Kalam', cursive;
    font-size: 5.5vh;
}

.sub-name-b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    color: #c88232;
}

.hover-shake:hover {
    animation: shake 200ms;
    animation-iteration-count: 2;
}

.hover-slide:hover {
    animation: slide 200ms;
    animation-iteration-count: 2;
}

@keyframes shake {
    from {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    to {
      transform: rotate(0deg);
    }
}

@keyframes slide {
    from {
      transform: translate(0);
    }
    30% {
      transform: translateX(4px);
    }
    50% {
      transform: translate(0);
    }
    70% {
      transform: translateX(-4px);
    }
    to {
      transform: translate(0);
    }
}

aside {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2vh;
}

.btn_coming_soon {
    margin-bottom: 5vh;
    padding: 1vh;
    width: 9.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 600;
    border-radius: 10px;
    color: #ffc846;
    background-color: #5aa58c;
}

#coming_soon_animation {
    content: attr(data-text);
    overflow: hidden;
    max-width: 10em;
    white-space: nowrap;
    animation: loading 3.5s linear infinite;
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}

footer {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    padding: 1vh;
    line-height: 1vh;
}

.btn_footer {
    color: #ffc846;
    border-bottom: solid 1px transparent;
}

.btn_footer:hover {
    border-bottom: solid 1px #ffc846;
}

@media screen and (max-width: 500px) {
    main {
        flex-direction: column;
    }

}

@media screen and (max-width: 1080px) {
    main {
        flex-direction: column;
    }

    .grid-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 1200px) {

}